@font-face {
    font-family: chairdrobe;
    src: url(./assets/561ee804114bbb5a-s.p.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: chairdrobe Fallback;
    src: local("Arial");
    ascent-override:147.59%;
    descent-override:24.35%;
    line-gap-override:0.00%;
    size-adjust:69.77%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html , body{
    height: 100%;
    width: 100%;
}
:root{
    --dark-blue:#000814;
    --blue:#001d3d;
    --blue-light:#003566;
    --yellow:#faa307;
    --dark-yellow:#FB8500;

}
html{
    scroll-behavior: smooth;
}
body{
    font-family: chairdrobe, "chairdrobe Fallback", sans-serif;
    font-size: 2.5rem;
    overflow-x: hidden;
    background: var(--dark-blue);
    color: #ffeeee;
}

a{
    text-decoration: none;
}
button{
    border: none;
    background: none;
    
}
img{
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: chairdrobe, "chairdrobe Fallback", sans-serif;

}
p,button,a{
      font-family: chairdrobe, "chairdrobe Fallback", sans-serif;
}
ul{
    list-style: none;
}
p{
    line-height: 1.25;
}
button:focus{
    outline: none;
}

.preloader-cont{
    display: flex;
    align-items: center;
    justify-content: center;
   transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    opacity: 1;
    transition-duration:1000ms;
    z-index:100;
    width:100vw;
    height:100vh;
    min-height:100vh;
    background:linear-gradient(to bottom, var(--dark-blue) 0%,var(--blue) 80%);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform:translateZ(0);
    -webkit-transform:translateZ(0);
    -webkit-overflow-scrolling:touch
}
@keyframes subtle-glow {
  0% {
    filter: drop-shadow(0 0 4px rgba(251, 134, 0, 0.3));
  }
  100% {
    filter: drop-shadow(0 0 14px rgba(251, 134, 0, 0.6));
  }
}


@keyframes rotate-in-out {
    0%,to {
        transform: rotate(0deg) scale(1);
        filter: brightness(1)
    }

    50% {
        transform: rotate(5deg) scale(1.05);
        filter: brightness(1.2)
    }
}

.preloader{
    position: relative;
     width: 18rem;
     height:auto;
      animation: subtle-glow 3s ease-in-out infinite,rotate-in-out 6s ease-in-out infinite;
      transform:rotate(-3deg);
      transition:transform 2000ms cubic-bezier(0.4,0,0.2,1);
}
.preloader > img{
    
    width: 100%;
    height: auto;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    color:transparent;
    filter:grayscale(100%) brightness(0.9);
    padding:16px;
}
@supports (-webkit-touch-callout:none) {
    .loading-screen-mobile {
        height: -webkit-fill-available!important;
        min-height: -webkit-fill-available!important
    }
}
.preloader-color{
    inset: 0;
    pointer-events: none;
    clip-path: inset(0 100% 0 0);
transition: clip-path 2000ms cubic-bezier(0.4, 0, 0.2, 1);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 16px;
}
.preloader-color > img{
   
    width: 100%;
    height: auto;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: transparent;
 filter:
        brightness(0) saturate(100%) 
        invert(64%) sepia(96%) saturate(744%) 
        hue-rotate(-14deg) brightness(102%) contrast(110%) 
        drop-shadow(0 0 8px rgba(251, 134, 0, 0.6));



}

.blur-overlay{
    min-height:100vh;
    min-width:100vw;
    left:0;
    top:0;
    mix-blend-mode:color-dodge;
    opacity:0.12;
    pointer-events:none;
    position:fixed;
    z-index:100000000;

}
.blur-overlay div{
    position:absolute;
    inset:-200% 0 0 0;
    width:400%;
    height:400%;
    will-change:transform;
    background:url('./assets/static_overlay.png');
    transform:translateX(0%) translateY(0%);
    
     
}
/* main content */
main{
    min-height: 100vh;
    scrollbar-width:none;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
/* hero */
.hero-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height:calc(100vh - 92px);
}
.hero{
    
    position: relative;
    z-index: 10;
    padding-bottom: 2.5rem;
    /* max-width: 100%; */
    margin-inline: auto;
     padding-left: 1rem;
    padding-right: 1rem;
    transform: none;
    max-width: 531px;
    will-change: transform;
}
.hero > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.hero-logo{
    /* max-width:500px; */
    max-width: 250px;
    height: auto;
      animation: subtle-glow 3s ease-in-out infinite,rotate-in-out 6s ease-in-out infinite;
}
.hero-logo img{
   
    width: 100%;
    height: auto;
    display: block;
     -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color:transparent;
  filter:
        brightness(0) saturate(100%) 
        invert(64%) sepia(96%) saturate(744%) 
        hue-rotate(-14deg) brightness(102%) contrast(110%) 
        drop-shadow(0 0 8px rgba(251, 134, 0, 0.6));
    top:0;
    left:0;
    padding:20px;

}
.hero-content,.mission-copy{
    display: flex;
    flex-direction: column;
    max-width: 100%;
     /* margin-top: 4rem */
     margin-top: 1rem;
}
.hero-content h3,.mission-copy h3{
    
     font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 700;
    background: black;
    border: 2px solid var(--yellow);
    border-bottom-width: 0;
     padding-left: .5rem;
    padding-right: .5rem;
    font-family:monospace;
    line-height:2;
    width:fit-content;

}
.hero-copy{
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    max-width: 100%;
   border: 2px solid var(--yellow);
   background:linear-gradient(to right, var(--dark-blue), var(--dark-blue));
}
.hero-copy p{
     min-width: 0; 
     width: auto;
    letter-spacing:-0.01em;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    color: white;
    font-size: .75rem;
    line-height: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: .5rem;
    padding-right: .5rem

}
.copy-btn,.buy-btn{
    
    background: var(--yellow);
    color: white;
    cursor: pointer;
    font-weight: 400;
      font-size: 1.25rem;
    line-height: 1.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-block: 0.25rem;
    transition: all .15s ease;
    min-width: 120px;

}
.copy-btn:hover,.buy-btn:hover{
background-color: var(--dark-yellow);
}
.buy-btn{
    max-width: fit-content;
    margin-block: 1rem;
    margin-inline: auto;
}
.hero-bg{
    z-index:1;
    /* background-image:url('./assets/notext.png'); */
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    transform:translate3d(0,0,0) translate3d(0,0,0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.hero-obj{
        z-index:1;
    transform:translate3d(0,0,0) translate3d(0,0,0);
    max-width: 25%;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    display: none;
}
.hero-grad{
    /* class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-banner-bg-darker to-transparent z-2" style="z-index:2;height:20%" */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index:2;
    height:20%;
       background: linear-gradient(to top, var(--dark-blue) 0%, transparent 100%);

}
.hero-content > p{
    text-align: center; 
    color: white; 
    line-height: normal;
    font-size: 1.25rem;
}
/* Marquee */
 .marquee-cont{
    padding-block: 1rem;
}
/* .marquee-section{
    display: flex;
    flex-direction: column;

} */


.marquee {
  width: 100%;
  pointer-events: none;
  overflow: hidden;
}

.marquee__inner-wrap {
  height: 100%;
  width: 100%;
}

.marquee__inner {
  height: 100%;
  width: fit-content;
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  will-change: transform;
}
.marquee__inner1{
  animation: marquee 120s linear infinite;
}
.marquee__inner2{
  animation: marquee2 120s linear infinite;
}
.parallax {
    position: relative;
    overflow: hidden
}

.scroller {
    display: flex;
    white-space: nowrap;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 2.2rem;
    letter-spacing: -.02em;
    filter: drop-shadow(0 1px 1px rgba(0,0,0,.1));
    color: rgba(251, 134, 0, 0.7);
    text-shadow: 0 0 16px rgba(251, 134, 0, 0.5);
   
}

.scroller span {
    padding-inline: 4px;
    flex-shrink: 0
} 
@keyframes marquee {
  to {
    transform: translateX(-50%);
  }
}
@keyframes marquee2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* MISSION */
.mission-sect{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.mission{
   
    flex:  1 1 0%;
    padding-inline: 1.5rem;
    padding-block: 2.5rem;

}
.mission-content{
   
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
}
.mission-label{
     font-size: 1.125rem;
    line-height: 1.75rem;
     font-weight: 700;
     font-family:monospace;
     opacity:0.6;
}
.mission-label span{
      color: var(--dark-yellow);
}
.mission-h{
   font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 1.5rem;
}
.mission-h span{
       color: var(--yellow);
}
.mission-p{
     font-size: .875rem;
    line-height: 1.25rem;
     padding-bottom: 3.5rem;
     opacity:0.65;
     font-family:monospace;

}
.mission-copy{
    margin-top: 0;
}
.miss-img{
    flex: 1 1 0%;
    position: relative;
    min-height: 100px;
    overflow: hidden;
}
.miss-img img{
    object-fit: cover;
    width: 100%;
    min-height: 200px;
}
.miss-img .grad-1{
    z-index:2;
    height:20%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  background: linear-gradient(to top, var(--dark-blue), transparent);

    
}
.miss-img .grad-2{
   
    z-index:2;
    height:20%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  background: linear-gradient(to bottom, var(--dark-blue), transparent);

    
}
.miss-img .grad-3{
    z-index:2;
    height:20%;
    position: absolute;
    height: 0;
    left: 0;
    width: 15%;
  background: linear-gradient(to right, var(--dark-blue), transparent);

    
}
/* Live stats */
.stats-sect {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;

}

.stats-img {
  position: relative;
  flex: 1 1 0%;
  overflow: hidden;
  min-height: 100px;
}

.stat-grad1,
.stat-grad2,
.stat-grad3 {
  position: absolute;
  z-index: 2;
}

.stat-grad1 {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, var(--dark-blue), transparent); 
}

.stat-grad2 {
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to bottom, var(--dark-blue), transparent); 
}

.stat-grad3 {
  right: 0;
  height:0;
  width: 15%;
  background: linear-gradient(to left, var(--dark-blue), transparent);
}
.stats-img img{
   
    object-fit: cover;
    width: 100%;
    min-height: 200px;
}

.stats-cont {
  flex: 1 1 0%;
  padding-inline: 1.5rem;
  padding-block: 2.5rem;
}

.stats-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}

.stats-h {
  font-size: 3.8rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 4rem;
  color: white;
}

.stats-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 100%;
}


.stat-card {
  background: var(--blue);
  border: 2px solid var(--blue);
  padding: 1rem;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  color: white;
}

.stat-card-label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.stat-card-label::before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ef4444; 
  border-radius: 9999px;
  animation: pulse 1.5s infinite;
}

.stat-card-label span {
  font-size: 0.75rem;
  color: #ef4444;
  font-weight: 700;
}

.stat-card-h {
  font-size: 0.875rem;
  font-weight: 700;
  color: #9ca3af; 
  margin-bottom: 0.5rem;
}

.stat-card-p {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}


/* Animate LIVE dot */
@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.5);
  }
}
/* ROADMAP */
.roadmp-section {
  background-color: var(--dark-blue);
  padding-block: 1rem;
  position: relative;
}

.roadmp-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  gap: 1rem;
}
.rm-obj1{
  position: absolute;
  max-width: 200px;
  top: 30%;
  left: 2%;
}
.roadmp-heading {
  font-size: 3.8rem;
  font-weight: 700;
  text-align: center;
  color: white;
}
.roadmp-heading span{
  color: var(--yellow);
}
.roadmp-img {
  position: relative;
  overflow: hidden;
  min-height: 100px;
  width: fit-content;
  justify-self: center;
}


.rm-grad1,
.rm-grad2 {
  position: absolute;
  z-index: 2;
}

.rm-grad1 {
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(to top, var(--dark-blue), transparent); 
}

.rm-grad2 {
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(to bottom, var(--dark-blue), transparent); 
}


.roadmp-img img{
   
    object-fit: contain;
    width: 100%;
    min-height: 200px;
}
/* footer */
.afftr-footer {

  padding: 2.25rem 1.5rem;
  position: relative;
  z-index: 10;
  background-color: var(--dark-blue);
  color: #6b7280;
  font-size: 14px;
}
footer p{
    font-family: monospace;
}

.afftr-container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.afftr-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.afftr-links a {
  color: #6b7280;
  text-decoration: underline;
  transition: color 0.3s ease;
    font-family: monospace;
}

.afftr-links a:hover {
  color: var(--yellow);
}





@media (max-width: 768px) {
    .disable-parallax-mobile {
        transform:translate(0)!important
    }
}
@media screen  and (min-width:768px){
    .hero-copy p{
          font-size: .875rem;
    line-height: 1.25rem;
     padding-left: .75rem;
        padding-right: .75rem;
         padding-right: 1.5rem;
    }
    .hero-content > p{
        font-size: 2.5rem;
    }
    .hero-logo{
    max-width:400px;
  
}
.hero-obj{
  display: block;
}
.parallax {
    height: 56px;
   
}
.scroller{
    font-size: 3rem;
     line-height: 3.5rem;
}
 .stats-cards {
    grid-template-columns: 1fr 1fr;
  }
  .roadmp-img img{
     max-height: 750px;
  }
}
@media screen  and (min-width:1024px){
.mission-sect{
    flex-direction: row;
    height: auto;
    min-height: 700px;
}
.mission{
    padding: 5rem 2rem;
}
.mission-content{
    padding-inline: 3.5rem;
}
.miss-img{
 min-height: 0;
}
.miss-img img{
    max-height: none;
    height: 100%;
    min-height: 0;
}
.miss-img .grad-3{
    height: 100%;
}
.stats-sect{
    flex-direction: row;
    height: auto;
    min-height: 700px;
}
.stats-img{
    min-height: 0;
}
.stat-grad3{
    height: 100%;
}
.stats-img img{
    max-height: none;
    min-height: 0;
    height: 100%;
}
.stats-cont {
  padding-inline: 2rem;
  padding-block: 5rem;
}
.stats-content{
    padding-inline: 3.5rem;
}

}